.content-section {
  text-align: center;
  margin-top: 15vh;
}
.heading-primary {
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}
.img {
  height: 20rem;
}
.heading-secondary {
  font-family: "Dongle", sans-serif;
  font-weight: 30;
  font-size: 30px;
  color: gray;
}
.btn {
  border-radius: 7px;
  background-color: #23c2de;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #2393de;
}
